.body{
    background-color: rgb(128, 109, 87);
    font-size: x-large;
}
.nav{
    display: grid;
    grid-template-columns: repeat(8, 1fr); 
    border: 1px solid;
    padding: 24px;
}
.button1{
    color: aliceblue;
    border-radius: 5%;
    background-color: palevioletred;
}
.blacktext{
    color: black;
    font-size: xx-large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.redtext{
    color: red;
    text-decoration: underline;
    font-size: xx-large;
}
.silvertext{
    color: silver;
}
.appstore{
background-color: rgb(2, 2, 65);
border-radius: 15px;
    

}
.bluetext{
    color: rgb(19, 19, 218);
}
/* .div2{
    display: flex;
    gap: 25%; */
}
.first{
    display:flex;


}
.box{
    background-color: aliceblue;
}
.center{
    text-align: center;
}
.div3{
    display: flex;
    text-align: center;
    margin-left: 10%;
}
.silvertextlarge{
    color: silver;
    font-size: xx-large;
}
.div4{
    display: flex;
    gap: 8%;
    margin-left: 18%;
    padding: 24px;
}
.pink{
    border: solid palevioletred ;
    padding: 24px;
}
.div5{
    display: flex;
    gap: 10%;
}
.div6{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.backgroundbrown{
    background-color: rgb(218, 167, 72);
}
.backgroundwhite{
    background-color: aliceblue;
}
.buttonblue{
    background-color: rgb(101, 101, 236);
    border-radius: 5%;
    padding: 12px;
    width: 30;
}
.imageleft{
    margin-left: 40%;
}
.buttonpink{
    padding: 12px;
    border-radius: 5%;
    background-color: palevioletred;
    width: 30%;
}
.div7{
    display: flex;
    gap: 10%;
    padding: 24px;
    margin-left: 10%;
}
.pinkborder{
    border: solid 1px palevioletred;
    padding: 10px;
}
.image1{
    width: 70%;
}
.bluediv{
    display: grid;
    grid-template-columns: repeat(5 ,1fr);
    background-color: rgb(3, 3, 48);
    color: aliceblue;
    padding: 24px;
}
.blackdiv{
    display: flex;
    gap: 8%;
    background-color: black;
    color: aliceblue;
    padding: 20px;
}
.image3{
    width: 50%;
}
@media screen and (min-widht:200px) and (max-width:990){
    .nav{
        grid-template-columns: repeat(3 , 2fr)
    }
    .bluediv{
        grid-template-columns: repeat(2, 3fr);
    }
}
    




